* {
    margin: 0;
    box-sizing: border-box;
}

.cajapadre {
    max-width: 892px;
    margin: auto;
    background: #101626;
    header {
        .navB {
            display: flex;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33.33%;
                img {
                    width: 80%;
                    height: 70%;
                }
            }
            .datos {
                width: 33.33%;
                padding: 0.5%;
                h1 {
                    color: yellow;
                    font-family: 'Raleway';
                    font-size: .8em;
                }
                p {
                    margin-top: 1em;
                    color: white;
                    font-family: 'Raleway';
                    font-size: 0.7em;
                }
            }
            .pago {
                width: 33.33%;
                padding: 0.5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-top: 10px solid yellow; //border-bottom: 5px solid yellow;
                h3 {
                    color: white;
                    font-family: 'Raleway';
                    font-size: 1em;
                    margin-bottom: .8em;
                }
                h2 {
                    color: yellow;
                    font-family: 'Arial';
                    font-weight: 300;
                }
                .barra {
                    position: absolute;
                    margin-top: 4.28em;
                    height: 15px;
                    width: 18.4em;
                    background: yellow;
                }
            }
        }
    }
    .barramain {
        height: 16px;
        background: rgba(52, 169, 247, 1);
        background: -moz-linear-gradient(left, rgba(52, 169, 247, 1) 0%, rgba(93, 218, 240, 1) 22%, rgba(12, 245, 86, 1) 47%, rgba(240, 240, 24, 1) 78%, rgba(208, 230, 39, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52, 169, 247, 1)), color-stop(22%, rgba(93, 218, 240, 1)), color-stop(47%, rgba(12, 245, 86, 1)), color-stop(78%, rgba(240, 240, 24, 1)), color-stop(100%, rgba(208, 230, 39, 1)));
        background: -webkit-linear-gradient(left, rgba(52, 169, 247, 1) 0%, rgba(93, 218, 240, 1) 22%, rgba(12, 245, 86, 1) 47%, rgba(240, 240, 24, 1) 78%, rgba(208, 230, 39, 1) 100%);
        background: -o-linear-gradient(left, rgba(52, 169, 247, 1) 0%, rgba(93, 218, 240, 1) 22%, rgba(12, 245, 86, 1) 47%, rgba(240, 240, 24, 1) 78%, rgba(208, 230, 39, 1) 100%);
        background: -ms-linear-gradient(left, rgba(52, 169, 247, 1) 0%, rgba(93, 218, 240, 1) 22%, rgba(12, 245, 86, 1) 47%, rgba(240, 240, 24, 1) 78%, rgba(208, 230, 39, 1) 100%);
        background: linear-gradient(to right, rgba(52, 169, 247, 1) 0%, rgba(93, 218, 240, 1) 22%, rgba(12, 245, 86, 1) 47%, rgba(240, 240, 24, 1) 78%, rgba(208, 230, 39, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34a9f7', endColorstr='#d0e627', GradientType=1);
    }
    .contenidomain {
        display: flex;
        .datoscliente {
            width: 66.66%;
            background: #101626;
            color: white;
            font-family: 'Raleway';
            padding: 1%;
            h2 {
                text-align: center;
                color: yellow;
                margin-bottom: 1em;
            }
            table{
                tr{
                    td{
                        padding-top: 2%;
                        padding-right: 1%;
                    }
                }
            }
        }
        .resumen{
            width: 33.34%;
            background: #eceaed;
            font-family: 'Raleway';
            padding: 1%;
            h2{
                font-size: 1.25em;
                margin-bottom: 0.5em;
            }
            .limite, .total{
                margin-top: 1em;
                width: 100%;
                td{
                padding-right: 1%;
                }
                .gris{
                    color: grey;
                }
            }
        }
    }
}