* {
    margin: 0;
    box-sizing: border-box;
}

.cajapadre {
    max-width: 892px;
    margin: auto;
    background: #101626;
    header {
        .navB {
            display: flex;
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 33.33%;
                img {
                    width: 80%;
                    height: 70%;
                }
            }
            .datos {
                width: 33.33%;
                padding: 0.5%;
                h1 {
                    color: yellow;
                    font-family: 'Raleway';
                    font-size: .8em;
                }
                p {
                    margin-top: 1em;
                    color: white;
                    font-family: 'Raleway';
                    font-size: 0.7em;
                }
            }
            .pago {
                width: 33.33%;
                padding: 0.5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-top: 10px solid yellow;
                //border-bottom: 5px solid yellow;
                h3 {
                    color: white;
                    font-family: 'Raleway';
                    font-size: 1em;
                    margin-bottom: .8em;
                }
                h2{
                    color: yellow;
                    font-family: 'Arial';
                    font-weight: 300;
                }
                .barra{
                    position: absolute;
                    margin-top: 4.28em;
                    height: 15px;
                    width: 18.4em;
                    background: yellow;
                }
            }
        }
    }
}